#mini_img{
    width: 16px;
    height: 16px;
}
#Header{
    background-color: blue;
    color: white;
    margin-top: -21px;
    margin-left: -8px;
}
#Footer{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    margin-top: 550px;
}
